/**
 *
 * LogicNow test CSS file
 * 24-04-2105
 * Graeme Laurenson
 *
*/

/* Added to make font same as demo */
html {
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

/* Comment our original style
.page-wrap {
  max-width: 800px;
  margin: 20px auto;
}
*/

/* Revised to have 2 different layout styles */
.page-wrap.unlimited {
    width: 96%;
    margin: 20px 2%;
}

.page-wrap.limited {
    max-width: 800px;
    width: 96%;
    margin: 20px auto;
}

.main-story {
    position: relative;
    margin: 0 0 25px 0;
}

/* Comment our original style
img {
  display: block;
}
*/
img {
    display: block;
    width: 100%;
}

a {
    color: lightblue;
}

.story-intro {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.75);
    padding: 20px;
    color: white;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 1.5em;
}

h1, h2 {
    margin: 0 0 10px 0;
}

/**
 * --- Main story
 */

.story-intro h1 {
    font-size: 2.5em;
}

.story-intro p {
    margin: 0;
}

/* Added media query with max breakpoint 850px */
@media all and (max-width: 850px) {
    h1 {
        font-size: 2.75em;
    }

    .story-intro {
        position: relative;
    }

    .story-intro h1 {
        font-size: 1.5em;
    }

    .story-intro p {
        font-size: 80%;
    }
}

/**
 * --- Sub stories
 */

.sub-stories {
    overflow: hidden;
    margin: 0 0 25px 0;
}

/* Comment our original style
.sub-story {
  float: left;
  width: 250px;
  margin-right: 25px;
  position: relative;
  font-size: 80%;
}
*/
.sub-story {
    float: left;
    width: 30%;
    margin-right: 5%;
    position: relative;
    font-size: 80%;
}

.last {
    margin-right: 0;
}

/* Added media query between breakpoints 601px and 850px */
@media all and (min-width: 601px) and (max-width: 850px) {
    .sub-story {
        width: 250px;
        margin-right: 5%;
        margin-bottom: 5%;
    }

    .last {
        margin-right: 5%;
    }

    .sub-story .story-intro p {
        font-size: 100%;
    }
}

/* Added media query max breakpoint 600px */
@media all and (max-width: 600px) {
    .sub-story {
        width: 100%;
        margin-right: 5%;
        margin-bottom: 5%;
    }

    .sub-story .story-intro p {
        font-size: 100%;
    }
}


